<%= form_with(model: noticeboard, local: true) do |form| %>
  <% if noticeboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(noticeboard.errors.count, "error") %> prohibited this noticeboard from being saved:</h2>

      <ul>
      <% noticeboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
